
.adventure, .output {
  background-color: black;
  border-width: 0px;
  font-family: Tahoma;
  font-weight: normal;
  font-style: normal;
  font-size:16px;
}

a {
  color: #484;
}

#content {
  margin: 50px;
}
#game {
}

#menu {
  height: 40px;
  color : white;
}

#popup {
  position: absolute;
  z-index: 100;
  visibility: hidden;
  background-color: #222;
  color: #888;
  border-width: 1px;
  border-color: #888;
  border-style: solid;
}
.italic {
  font-style: italic;
}
#title {
  font-size:24px;
  color: red;
  text-align: center;
  width: 600px;
}

#popupMessage {
  margin: 10px;
}

#popupInputDiv {
  visibility: hidden;
  height: 0px;
  margin: 10px;
}

#toolbar {
  visibility: hidden;
  padding: 0px;
  border-width: 0px;
  border-style: dashed;
}

#dialog, #output, #toolbar, #doorsDiv {
  color: #aaa;
  border-color: #888;
  width : 600px;
}

#output {
  border-style: solid;
  border-width: 0.5px;
  padding: 10px;
  color: #bbb;
}

.person {
  position: absolute;
  z-index: 100;
  color:#008;
  text-align:center;
  background:#fff;
}

.mapElement {
  color: black;
  position: absolute;
  font-weight: normal;
  font-size:12px;
  text-align:center;
}

#map {
  background-color: #420;
  position: relative;
  visibility: hidden;
}

.fadeIn8 {
  animation-name: fadeIn;
  animation-duration: 8s;
}

.fadeIn2 {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.fadeIn4 {
  animation-name: fadeIn;
  animation-duration: 4s;
}

.fadeIn6 {
  animation-name: fadeIn;
  animation-duration: 3s;
}

.fadeIn12 {
  animation-name: fadeIn;
  animation-duration: 12s;
}

.blackText {
  color: grey;
}

.redText {
  color: red;
}

.yellowText {
  color: yellow;
}

.blueText {
  color: blue;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
